/*Global JD*/
body {
  position: relative;
}
/*.for-overlay {
  position: absolute;
  top: 0;
  left:0;
  max-width:100%;
  z-index: 1;
  left: -314px;
  max-width: 145%;
  z-index: 1;
}*/
h1 {
  font-family: Merriweather;
  font-weight: 400;
  line-height: 1.35;
  font-size: 2.15rem;
}

h2 {
  font-family: Lato !important;
  font-style: normal;
  font-weight: 500;
  font-size: 1.3rem;
}

h4 {
  font-size: 1.49rem;
  font-family: Lato !important;
  font-style: normal;
  font-weight: normal;
  color: #808080;
  line-height: 1.25;
  letter-spacing: .5px;
  max-width: 280px;
  text-align: center;
}

p {
  color: #555555;
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  line-height: 1.75;
  font-size: 1.138rem;
}

.button {
  color: #ffffff;
  text-decoration: none;
  font-family: Lato;
  font-style: normal;
  font-weight: 700;
  background: #54AA7D;
  padding: 14px 25px;
  border-radius: 5px;
  font-size: .9rem;
}

.green {
  color: #489467;
  font-weight: 700; 
}

@media all and (max-width: 768px) {
  h1 {
    font-size: 1.8rem;
  }
}

/*Hero JD*/
.hero {
  background: #E0F1E9;
}

.hero h1 {
  margin: 20px 0 18px 0;
}

.hero p {
  margin: 0 0 45px 0;
}

.hero .container {
  padding: 45px 0 90px 0;
}

.hero .container .logo-wrapper {
  width: 100%;
  margin-bottom: 24px;
  /*max-width: 90px;*/
}

.hero .container .logo-wrapper img {
  max-width: 92px;
}

.hero .container .hero-contents-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.hero .container .hero-contents-wrapper .content {
  width: 50%;
  margin-top: 6px;
  margin-right: 12px;
}

.hero .container .hero-contents-wrapper .copy-wrap{
  max-width: 390px;
}

.hero .container .hero-contents-wrapper .img-wrap img {
  width: 100%;
  max-width: 534px;
  left: -9px;
  position: relative;
  top: 6px;
}

@media all and (max-width: 768px) {
  .hero .container {
    padding: 35px 0 40px 0;
  }

  .hero .container .hero-contents-wrapper {
    flex-direction: column-reverse;
    align-items: center;
  } 
  .hero .container .hero-contents-wrapper .content {
    width: auto;
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 20px;
  }

  .hero .container .hero-contents-wrapper .copy-wrap{
    text-align: center;
  }

  .hero .container .hero-contents-wrapper .img-wrap img {
    max-width: 320px;
  }
}

/*Page - Cards JD*/
.page {
  max-width: 1127px;
  margin: 0 auto;

}

.page .container {
  padding: 106px 0 62.5px 0;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  max-width: 1079px;
  margin-left: 0;
}

.page .card {
  width: 30%;
  border-radius: 5px;
  box-shadow:0 0 10px #dadada;
  margin-bottom: 72px;
  text-decoration: none;
  max-width: 325px;

  /*Hover animation styles*/
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: box-shadow, transform;
  transition-property: box-shadow, transform;
}

.card:hover, .card:focus, .card:active {
  box-shadow: 0 10px 10px -10px rgba(0, 0, 0, 0.5);
  -webkit-transform: scale(1.1);
  transform: scale(1.03);
}

.page .card .img-wrap {
  background-image: linear-gradient(to right, #2B2B2B , #181818);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 3px 3px 0 0;
}

.page .card .img-wrap img {
  max-width: 77px;
  margin: 70px auto;
}

.page .card .txt-wrap {
  padding: 0 20px 19px 31px;
}

.page .card .txt-wrap h2 {
  margin: 30px 0 14px 0;
  color: #000000;
}

.page .card .txt-wrap p {
  margin: 0;
  font-size: 1.07rem;
  line-height: 1.5rem;
  max-width: 267px;
}

@media all and (max-width: 768px) {
  .page .card {
    width: 48%;
  }
  .page .container {
    padding: 70px 0 30px 0;
  }
}

@media all and (max-width: 499px) {
  .page .card .txt-wrap {
    text-align: center
  }

  .page .card {
    width: 100%;
  }
}

/*Bottom JD*/
.bottom {

}

.bottom .container {

}

.bottom .container .txt-wrap {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  margin-bottom: 0px;
}

.bottom .container .copy {
  width: 50%;
  text-align: center;
}

.bottom .container .copy1 h4 {
  margin: 0 auto 0 23%;
}

.bottom .container .copy2 h4 {
  margin: 0 31% 0 auto;
}

.bottom .container .copy2-span1 {
  font-size: 1.55rem;
  line-height: 1.25;
  letter-spacing: 0;
  margin-left: -9px;
}

.bottom .container .copy2-span2 {
  font-size: 1.55rem;
  line-height: 1.25;
  letter-spacing: 0;
  margin-left: -9px;
}

.bottom .container .img-wrap {
  width: 100%;
  position: relative;
  margin-top: -5px;
}
.bottom .container .img-wrap img {
  width: 100%;
  display: block;
  max-width: 1079px;
}

@media all and (max-width: 768px) {
  .bottom .container .txt-wrap {
    flex-direction: column;
  }

  .bottom .container .copy {
    width: 100%;
    margin-bottom: 35px;
  }

  .bottom .container .copy h4 {
    max-width: 320px;
  }

  .bottom .container .copy1 h4 {
    margin: 0 auto;
    padding: 0 15px;
  }

  .bottom .container .copy2 h4 {
    margin: 0 auto;
    padding: 0 15px;
  }
}

/*Footer JD*/
.footer {
  background: #202329;
  width: 100%;
}

.footer .container {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  padding: 16px 0;
}

.footer .container img {
  max-width: 67px;
}

.footer .container p {
  color: #5B5B5D;
  margin: 0 0 0 11px;
  font-size: .656rem;
  font-weight: 700;
}
.footer .container p .copyright {
  font-size: .75rem;
  margin-right: 1px;
}

@media all and (max-width: 768px) {
  .footer .container p {
    font-size: .6rem;
  }
}

/*
  This is to help make development easier by including a responsive container
*/
.container {
  width: 1127px;
  margin-left: auto;
  margin-right: auto;
}

/* Small Monitor */
@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .container {
    width: 933px;
  }
}


/* Tablet (iPad Pro or Below) */
@media screen and (max-width: 1024px) {
  .container {
    width: 723px;
  }
}

/* Mobile */
@media only screen and (max-width: 767px) {
  .container {
    width: auto !important;
    margin-left: 1em !important;
    margin-right: 1em !important;
  }
}
